/JavaEE/GitCheck/build/
/JavaSE/AdapterPattern/nbproject/private/
/JavaSE/AdapterPattern/build/
/JavaEE/RS_WebserviceEE/target/
/JavaEE/PersListLogin_Filter/nbproject/private/
/JavaEE/PersListLogin_Filter/build/
/JavaEE/Schul_Threads_02/nbproject/private/
/JavaEE/Schul_Threads_02/build/
/JavaEE/ThreadsInterrupted/nbproject/private/
/JavaEE/ThreadsInterrupted/build/
/JavaEE/JSF_FirstExampleQ/nbproject/private/
/JavaEE/JSF_FirstExampleQ/build/
/JavaEE/JSF_Schuelermaske/nbproject/private/
/JavaEE/JSF_Schuelermaske/build/
/JavaEE/JSF_SelectOneTest/nbproject/private/
/JavaEE/JSF_SelectOneTest/build/
/JavaEE/JSF_Calculator/nbproject/private/
/JavaEE/WebApplication1/nbproject/private/
/JavaEE/RS_TodoManagement/target/
/JavaEE/RS_TodoManagement1/target/
/JavaEE/JSF_Calculator/build/
/JavaEE/JSF_DataTable_ProductList/nbproject/private/
/JavaEE/JSF_DataTable_ProductList/build/
/JavaEE/JSF_PupilManager/nbproject/private/
/JavaEE/JSF_PupilManager/build/